[Unit]
Description=My house's DNS server

[Service]
Type=simple
User=aoshi
WorkingDirectory=/home/aoshi/house-dns
ExecStart=ruby /home/aoshi/house-dns/house-dns.rb
Restart=always

[Install]
WantedBy=multi-user.target
